/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


.about_us {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(102, 3, 3)!important;
  font-family: "Lucida Console", monospace;
}

a:link {
  text-decoration: none !important;
  color:black !important;
  padding: 5px;
  font-family: "Courier New", monospace;
}

a:visited {
  text-decoration: none !important;
  color: rgb(87, 1, 1)!important;
  padding: 5px;
}

a:hover, a:active {
  text-decoration: none;
  color: rgb(87, 1, 1)!important;
}

.add_container {
  width: 100%;
  color: white;
  border-radius: 10px;
  padding: 80px 80px 80px 80px;
  font-family: "Lucida Console", monospace;
  background-image: url("Board.png");
  background-repeat: no-repeat;
  background-size: cover
}

.bg {
  background-image: url("Board.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

button {
  width: 150px;
  height: 40px;
  background-color: rgb(87, 1, 1) !important
}

.cards {
  margin: 0 auto;
  text-align: center;
  font-family: "Lucida Console", monospace;
  background-color: black!important;
}

.contact_us{
  background-size: auto;
  border: none;
  margin: 0 auto;
  text-align: center;
  background-color: lightgrey!important;
  font-family: "Lucida Console", monospace;
  color: rgb(87, 1, 1);
}

.container {
  width: 100%;
  border-radius: 10px;
  padding: 80px 80px 80px 80px;
  font-family: "Lucida Console", monospace;
}

footer {
  display: inline-block;
  bottom: 0;
  display: flex;
  // background-color: white;
  width: 100%;
  color: white !important ;
  display: inline-block;
  text-align: center;
  position: relative;
}

.form-body{
  text-align: center;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: 1px solid rgb(95, 11, 15);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  font-family: "Courier New", monospace;
  text-decoration: none !important;
  background-size: cover;
  background-image: url("Forms.png");
  background-repeat: no-repeat;
}

h1, h4 {
  text-align: center;
  font-family: "Courier New", monospace;
  color: rgb(87, 1, 1);
}

.h1-2 {
  text-align: center;
  font-family: "Courier New", monospace;
  color: white;
  padding: 3%
}

header {
  height: 12vmin;
  width: 100%;
  text-decoration: none !important; 
  margin: 0;
  position: sticky;
  background-color: none !important;
  position: relative;
}

.home_image {
  background-size: auto;
  border: none;
}

.home_button {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index_photo {
  height: 250px !important; 
  object-fit: none !important; 
}

.logo {
  margin-left: 20px;
  width: 20%;
  border-radius: 30px;
}

.my-2 {
  justify-content: space-around !important;
  row-gap: 20%;
}

.ready_stamp {
  margin-left: 60%;
  width: 50%;
}

.student_cards {
  text-align: center;
  font-family: "Courier New", monospace;
  color: white;
  position: relative;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20%;
}

.student_cards2{
  border: 2px solid rgb(95, 11, 15);
  margin-bottom: 20px;
  // background-color: rgba(155, 155, 154, 0.308) !important
  background-image: url("Board.png");
}

.student_show {
  padding: 2%;
  font-family: "Courier New", monospace;
  
}

.show_row {
  padding: 10px 150px 300px 150px;
  background-color: none !important;

}

.show_button {
  padding: 40px 0px 0px 0px;
}

