/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


.about_us {
  margin: 0 auto;
  text-align: center;
  font-family: "Lucida Console", monospace;
  background-image: linear-gradient(gray, white, rgb(87, 1, 1));

}

a:link {
  text-decoration: none !important;
  color:black !important;
  padding: 5px;
  font-family: "Courier New", monospace;
}

a:visited {
  text-decoration: none !important;
  color: rgb(87, 1, 1)!important;
  padding: 5px;
}

.add_container {
  width: 80%;
  color: white;
  border-radius: 10px;
  padding: 20px 20px 80px 20px;
  font-family: "Lucida Console", monospace;
  background-image: url("Board.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}

.bg {
  background-image: url("Board.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

button {
  width: 150px !important;
  height: 40px !important;
  background-color: rgb(87, 1, 1) !important;
}

.cards {
  margin: 0 auto;
  text-align: center;
  font-family: "Lucida Console", monospace;
  background-color: black!important;
}

.contact_us{
  background-size: auto;
  border: none;
  margin: 0 auto;
  text-align: center;
  font-family: "Lucida Console", monospace;
  color: rgb(87, 1, 1);
  background-image: url("WhiteWall.png");
  background-repeat: no-repeat;
  background-size: cover
}

.container {
  width: 100%;
  border-radius: 10px;
  padding: 80px 80px 80px 80px;
  font-family: "Lucida Console", monospace;
}

.font {
  text-align: center;
  font-family: "Courier New", monospace;
  color: rgb(87, 1, 1);
}

footer {
  display: inline-block;
  bottom: 0;
  display: flex;
  width: 100%;
  color: white !important ;
  display: inline-block;
  text-align: center;
  position: relative;
}

.form-body{
  text-align: center;
  margin-left:10%;
  margin-right:10%;
  margin-top: 10%;
  color: black;
  border: 1px solid rgb(95, 11, 15);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  font-family: "Courier New", monospace;
  text-decoration: none !important;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  background-image: url("Container.png"), linear-gradient(rgba(128, 128, 128, 0.233), rgba(255, 255, 255, 0.202))
  
}

h1, h3, h4 {
  text-align: center;
  font-family: "Courier New", monospace;
  color: rgb(87, 1, 1);
}

.h1-2 {
  text-align: center;
  font-family: "Courier New", monospace;
  color: white !important;
  padding: 3%
}

h5 {
  text-align: center;
  font-family: "Courier New", monospace;
  color: rgb(87, 1, 1);
}

.h5-2 {
  text-align: left !important;
  font-family: "Courier New", monospace;
  color: rgb(87, 1, 1);
}

h6 {
  padding: 50px 50px 50px 50px;
  text-align: center;
  font-family: "Courier New", monospace;
  color: rgb(87, 1, 1);
}

.home_image {
  border: none;
}

.home_button {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index_photo {
  height: 250px !important; 
  object-fit: none !important; 
}

.logo {
  margin-left: 20px;
  width: 20%;
  border-radius: 30px;
}

.my-2 {
  justify-content: space-around !important;
  row-gap: 20%;
}

.page_bg {
  background-image: linear-gradient(rgba(128, 128, 128, 0.233), rgba(255, 255, 255, 0.202));
}

.page_bg_2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.202), rgba(17, 15, 15, 0.524), rgba(3, 3, 3, 0.917))
}

.page_bg_3 {
  background-image: linear-gradient(rgba(3, 3, 3, 0.917), rgba(17, 15, 15, 0.524), rgba(255, 255, 255, 0.202))
}

.nav {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.nav_link {
  text-align: end !important;
}

.not_found {
  font-family: "Courier New", monospace;
  text-align: center !important;
  color: white !important;
}

.notfound_image {
  background-image: url("NotFound.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.ready_stamp {
  margin-left: 60%;
  width: 50%;
}

.show_button {
  padding: 40px 0px 0px 0px;
}

.show_row {
  justify-content: space-around;
  margin-left:10%;
  margin-right:10%;
  padding-bottom: 10%;
}

.student_cards {
  text-align: center;
  font-family: "Courier New", monospace;
  color: white;
  position: relative;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20%;
}

.student_cards2{
  border: 5px solid rgba(72, 5, 5, 0.478);
  margin-bottom: 20px;
  background-image: url("Board.png");
}

.student_show {
  padding: 2%;
  font-family: "Courier New", monospace;
}

