/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


.about_us {
margin: 0 auto;
text-align: center;
background-color: rgb(102, 3, 3)!important;
font-family: "Lucida Console", monospace;
}

a:link {
text-decoration: none !important;
color:black !important;
padding: 5px;
font-family: "Courier New", monospace;
}

a:visited {
text-decoration: none !important;
color: rgb(87, 1, 1)!important;
padding: 5px;
}

a:hover, a:active {
text-decoration: none;
color: rgb(87, 1, 1)!important;
}

button {
width: 150px;
height: 40px;
}

.cards {
margin: 0 auto;
text-align: center;
font-family: "Lucida Console", monospace;
}

.contact_us{
background-size: auto;
border: none;
margin: 0 auto;
text-align: center;
background-color: lightgrey!important;
font-family: "Lucida Console", monospace;
color: rgb(87, 1, 1);
}

footer {
padding: 10px;
display: inline-block;
bottom: 0;
display: flex;
justify-content: space-around;
font-size: 15px;
background-color: white;
width: 100%;
color: white !important ;
height: 5vmin;
display: inline-block;
text-align: center;
}

.form-body{
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: black;
border: 1px solid rgb(95, 11, 15);
border-radius: 10px;
padding: 25px 25px 25px 25px;
font-family: "Lucida Console", "Courier New", monospace;
text-decoration: none !important;
background-size: cover;
}

header {
height: 10vmin;
width: 100%;
text-decoration: none !important; 
margin: 0;
position: sticky;

}

.home_image {
background-size: auto;
border: none;
}

.logo {
margin-left: 20px;
width: 20%;
border-radius: 30px;
}
.home_button{

text-align: center;
margin: 0;
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
}
